body {
    font-family: Times New Roman;
    margin: 14px;
    line-height: 1.5;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    text-indent: 30px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
    font-size: 20px;
}

th {
    background-color: #f2f2f2;
}

#content {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

#content a {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

li {
font-size: 20px;
}

.caption {
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 5 px;
}
